@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
  padding-bottom: 4px; /* Add some space for the dot */
}

.nav-link:hover::after {
  content: '•';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  line-height: 1; /* Make sure the dot does not get extra spacing */
  color: blue; /* Adjust color as needed */
}

.font {
  font-family: Helvetica, sans-serif;
}